<html>
	<head>
		<title>Info</title>
	</head>
	<style>
		  p {
    		left: 0;
    		line-height: 200px;
    		margin: auto;
    		margin-top: -100px;
    		position: absolute;
    		top: 50%;
    		width: 100%;
		}
		
	</style>
	<body bgcolor="#E6E6FA">
		<center>
		<p style="font-size:20px;">Acest proiect a fost realizat folosind programul node.js pentru partea de server-client si mongoDB pentru partea de stocare a mesajelor<br> Autori: Moale Bogdan & Luputi Antonio.</p>
		</center>
	</body>